@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00cc99; /* Verde */
  --secondary: #4d4d4d; /* Cinza claro */
  --base-100: #ffffff; /* Branco */
  --base-200: #e5e5e5; /* Cinza médio */
  --info: #133a6f; /* Azul */
  --success: #4caf50; /* Verde escuro */
  --warning: #ff9800; /* Laranja */
  --error: #f44336; /* Vermelho */
  --text: #afafaf; /* Cinza clarinho */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .bg-secondary {
    background-color: var(--base-200);
  }

  .bg-primaryTransparent {
    background-color: rgba(0, 204, 153, 0.1);
  }

  .text-info {
    color: var(--base-100);
  }

  .bg-info {
    background-color: var(--info);
  }

  .text-success {
    color: var(--success);
  }

  .bg-success {
    background-color: var(--success);
  }

  .text-warning {
    color: var(--warning);
  }

  .bg-warning {
    background-color: var(--warning);
  }

  .text-error {
    color: var(--error);
  }

  .bg-error {
    background-color: var(--error);
  }

  .text-light {
    color: var(--text);
  }
  .tag {
    display: inline-block;
    background-color: #133a6f;
    color: white;
    padding: 5px 15px 5px 10px;
    position: relative;
    border-radius: 6px 0 0 6px;
  }

  .tag::before {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 0;
    height: 34px;
    border-top: 15px solid #133a6f;
    border-bottom: 15px solid #133a6f;
    border-right: 15px solid transparent;
  }
}
